/*
* @Author: d
* @Date:   2017-01-24 14:23:16
* @Last Modified by:   Administrator
* @Last Modified time: 2017-03-05 23:26:23
*/
html,body{font-size:50px;width: 100%;overflow-x: hidden;height: 100%;max-width: 720px;margin: 0 auto;background: #d4cdbe;}
@media only screen and (min-width: 375px){ html {font-size: 58px !important;}}
@media only screen and (min-width: 401px){html {font-size: 65.5px !important;}}

.con{width: 100%;overflow:hidden;position: relative;padding-top: 0.5rem;}
.content p{color:#412214;font-size: 0.28rem;text-align: center;}
.clock{width: 5.97rem;background:url(http://oss.lifequests.com/web_images/H5_images_other/clock.png) no-repeat center center;background-size: 100% 100%;position: relative;height: 7.4rem;margin: 0 auto;margin-top: 0.1rem;}
.clock-main{width: 5rem;height: 5rem;background: url(http://oss.lifequests.com/web_images/H5_images_other/time_pan.png) no-repeat center center;background-size: 100% 100%;position: absolute;left: 50%;top:50%;margin-left: -2.5rem;margin-top: -2.5rem;}
.clock .cir{width: 0.43rem;height: 0.43rem;background: url(http://oss.lifequests.com/web_images/H5_images_other/time_point.png) no-repeat left top;background-size: 100% 100%;position: absolute;left: 50%;top:50%;margin-left: -0.22rem;margin-top: -0.22rem;}
.clock .finger-1{width: 0.87rem;height: 0.67rem;position: absolute;left: 50%;top:50%;margin-left: -0.87rem;margin-top: -0.67rem;-webkit-transform-origin:100% 100%;}
.clock .finger-2{width: 1.65rem;height: 1rem;position: absolute;left: 50%;top:50%;margin-top: -1rem;-webkit-transform-origin:0% 100%;}
.finger img{width: 100%;vertical-align: top;}
.clock-time{width: 3.2rem;height: 0.88rem;background: url(http://oss.lifequests.com/web_images/H5_images_other/clock_button.png) no-repeat center center;background-size: 100% 100%;position: absolute;bottom:0.15rem;left: 50%;margin-left: -1.6rem;text-align: center;line-height: 0.88rem;color: #a6a497;font-size: 0.28rem;font-weight: bolder;}

/* 返回按钮 */
.return_back{width: 0.48rem;height: 0.48rem;position: absolute;left: 20px;top: 20px;}
.return_back img{width: 100%;vertical-align: top;}
/* 按钮 */
.confirm{width: 100%;height: 0.88rem;background: #4b291a;font-size: 0.3rem;color: #fff;text-align: center;line-height: 0.88rem;position: fixed;bottom: 0;left: 0;}
/* 弹窗 */
.post{width: 5.6rem;background: #fff;position: fixed;z-index: 2000;top:50%;left: 50%;margin-left: -2.8rem;margin-top: -1.7rem;border-radius: 10px;padding-bottom: 0.5rem;}
.post span{font-size: 0.24rem;}
.post .result{margin-top: 0.58rem;}
.post .result i{width: 1.42rem;height: 1.31rem;display: inline-block;margin-left: 1.2rem;}
.post .result i img{width: 100%;}
.next-too{width: 5rem;height: 0.72rem;background: #80d7cf;border-radius: 0.2rem;font-size: 0.3rem;color: #fff;text-align: center;line-height: 0.72rem;margin: 0 auto;margin-top: 0.18rem;}
.back{width: 0.45rem;height: 0.45rem;position: absolute;right: -0.2rem;top:-0.25rem;}
.back img{width: 100%;vertical-align: top;}


