/*
* @Author: d
* @Date:   2017-01-06 15:59:37
* @Last Modified by:   lichen
* @Last Modified time: 2017-03-07 10:49:39
*/



html,body{font-size:50px;width: 100%;overflow: hidden;background:url(http://olke0p1wa.bkt.clouddn.com/bg.jpg) no-repeat center center;background-size: 100% 100%;height: 100%;max-width: 780px;margin: 0 auto;}
@media only screen and (min-width: 375px){ html {font-size: 54px !important;}}
@media only screen and (min-width: 401px){html {font-size: 60px !important;}}

.con{position: relative;width: 100%;height: 100%;overflow:hidden;}
.con h1{color: #ffce3a;font-size: 0.4rem;text-align: center;margin-top: 0.5rem;}
.con .con_tit{color: #cfe4ff;font-size: 0.24rem;width: 5.8rem;margin: 0 auto;text-align: center;}
.con_box{width: 5.32rem;height: 5.32rem; display:flex;display: flex; flex-wrap: wrap;margin: 0 auto;justify-content:space-between;padding: 0.12rem;background: #7cc8ec;border-radius: 0.2rem;
margin-top: 0.1rem;}
.con_box div img{width: 100%;display: none;margin-top: 7px;}
.con_box .item{width: 1.3rem;height: 1.3rem;background: #cfe4ff;border-radius: 0.2rem;}
.set_time{width: 5.56rem;height: 0.88rem;background: #7cc8ec;border-radius: 0.2rem;margin: 0 auto;margin-top: 0.14rem;}
.set_time_main{padding-left: 1.22rem;padding-top: 0.08rem;}
.set_time i{width: 0.72rem;height: 0.72rem;background: #68b2d5;display: inline-block;font-size: 0.3rem;color: #fff;text-align: center;line-height: 0.72rem;border-radius: 0.2rem;
vertical-align: top;}
.set_time span{font-size: 0.3rem;color: #fff;vertical-align: top;display: inline-block;margin:0.18rem 0.18rem 0 0.18rem;}
.confirm{width:100%;height: 0.88rem;background: #7cc8ec;font-size: 0.3rem;color: #f5f5e7;text-align: center;line-height: 0.88rem;position: fixed;bottom: 0;}
.con_box .on{width: 1.3rem;height: 1.3rem;background: #AACDF5;border-radius: 0.2rem;}
.con_box .fs{background: #fefcf4;}
.con_box .fs img{display: block;}

.post{width: 5.6rem;background: #fff;position: fixed;z-index: 2000;top:50%;left: 50%;margin-left: -2.8rem;margin-top: -1.7rem;border-radius: 10px;padding-bottom: 0.5rem;}
.post span{font-size: 0.24rem;}
.post .result{margin-top: 0.58rem;}
.post .result i{width: 1.42rem;height: 1.31rem;display: inline-block;margin-left: 1.2rem;}
.post .result i img{width: 100%;}
.next-too{width: 5rem;height: 0.72rem;background: #80d7cf;border-radius: 0.2rem;font-size: 0.3rem;color: #fff;text-align: center;line-height: 0.72rem;margin: 0 auto;margin-top: 0.18rem;}
.back{width: 0.45rem;height: 0.45rem;position: absolute;right: -0.2rem;top:-0.25rem;}
.back img{width: 100%;vertical-align: top;}

.con .return_back{width: 0.48rem;height: 0.48rem;position: absolute;left: 20px;top: 20px;}
.con .return_back img{width: 100%;vertical-align: top;}

